<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" metadata-complete="false" version="3.1">
  <display-name>Assignment1</display-name>
  <filter>
  	<filter-name>MainFilter</filter-name>
    <filter-class>a00918606.util.DecryptionFilter</filter-class>
  </filter>
    
  <servlet>
    <servlet-name>MainPage</servlet-name>
    <jsp-file>/main.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>AboutPage</servlet-name>
    <jsp-file>/about.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>IndexPage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
    <init-param>
      <param-name>question</param-name>
      <param-value>Current local time is </param-value>
    </init-param>
    <init-param>
      <param-name>inst</param-name>
      <param-value>Please enter a valid password below for database connection </param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>HistoryPage</servlet-name>
    <jsp-file>/history.jsp</jsp-file>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/mainpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexPage</servlet-name>
    <url-pattern>/indexpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AboutPage</servlet-name>
    <url-pattern>/aboutpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistoryPage</servlet-name>
    <url-pattern>/historypage</url-pattern>
  </servlet-mapping>
  
  <filter-mapping>
    <filter-name>MainFilter</filter-name>
    <url-pattern>/PageLoader</url-pattern>
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>